body {
    margin: 0;
    height: 100vh;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    background-color: darksalmon;
    height: 40px;
    width: 100%;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkslategray;
    text-decoration: none;

}

.content {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

h1 {
    color: rgb(14, 167, 167);
    font-style: italic;
}

.profilepic {
    width: 200px;
    margin-right: 50px;
    align-self: center;
}

p {
    font-size: 15px;
    text-align: center;
    background-color: burlywood;
    align-items: center;
}

.galery {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    align-items: center;

}

img {
    height: 400px;
}