
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask - gallery</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/interests">Interests</a>
        <a href="/gallery">Gallery</a>
        <a href="/contact">Contact</a>
    </div >

    <h1>Gallery</h1>
    <div class="galery">
        <img src="/static/img/aruba.jpg" alt="aruba"><br>
        <img src="/static/img/carribean.jpg" alt="carribean"><br>
        <img src="/static/img/sydney.jpeg" alt="sydney"><br>
        <img src="/static/img/turkey.jpg" alt="turkey"><br>
        <img src="/static/img/books.jpg" alt="books"><br>


    </div>
   
</body>
</html>