
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask - index</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/interests">Interests</a>
        <a href="/gallery">Gallery</a>
        <a href="/contact">Contact</a>
    </div >

    <h1>About me</h1>

    <div class="content">
        <img src="/static/img/profilepic.png" class="profilepic" >
        <h3>
            My name is Mira. I am a wanderlust-driven soul who finds her happiest moments by the sea, 
            in far-off places, and in the pages of a great book. A lover of holidays and endless horizons, 
            I'm always seeking my next adventure or the perfect story to take me there. 🌊📚✈️
        </h3>
    </div>



    </div>
   

    
    
</body>
</html>